# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
yeah

# Optional npm cache directory
.npm
.cache
.shellcheckrc
.MiniMaxi Design For Multi Media
.Applied AI Foundations For Two Things Prompting and Workflowing
.Reasoning And Tools work together
whatsapp link group of Climate Environmental Research Institute (CERI) 
link url=> https://chat.whatsapp.com/FVbzLPknC4M15dAQxg9Irh
thin
